body {
  background-color: #282c34;
}

.App {
  text-align: center;
}

.titulo {
  color: white;
}

.container {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px auto;
}

.level {
  width: 590px;
  background-color: white;
  border-radius: 5px;
  margin: 5px;
}

.lblLevel {
  line-height: 1px;
  padding-left: 10px;
  text-align: left;
  font-weight: bolder;
  background-color: rgb(231, 231, 231);
  color: rgb(33, 66, 189);
}

.cardType {
  float: right;
  padding-right: 10px;
}

.barra {
  appearance: none;
  width: 580px;
  cursor: pointer;
  background-color: rgb(33, 66, 189);
  border-radius: 10px;
}

.lista {
  width: 170px;
  height: 200px;
  background: rgb(33,66,189);
  background: linear-gradient(0deg, rgba(33,66,189,1) 0%, rgba(33,66,189,1) 0%, rgba(231,231,231,1) 70%);
  color: rgb(33, 66, 189);
}

.display {
  width: 370px;
  height: 200px;
  background: rgb(33,66,189);
  background: linear-gradient(0deg, rgba(33,66,189,1) 0%, rgba(33,66,189,1) 0%, rgba(231,231,231,1) 70%);
  color: rgb(33, 66, 189);
}

.details {
  flex-grow: 3;
  width: 590px;
  height: 350px;
  background-color: rgb(33, 66, 189);
  color: white;
}

.lista, .display, .details {
  text-align: left;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}

li {
  list-style: circle;
}

select {
  width: 150px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  background-color: rgb(33, 66, 189);
  color: white;
  border-radius: 5px;
}
